.loader {
    border: 8px solid #ffffff; 
    border-top: 8px solid #ff462d;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 20s linear infinite;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    font-family: Arial, sans-serif;
    background-color: #fedb73;
    margin: 0;
    padding: 0;
}

header {
    background-color: #965500;
    color: #fff;
    padding: 10px;
    text-align: center;
}

ul.ulLinks {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.ulLinks li {
    margin: 0 20px;
}

ul.ulLinks li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.ulLinks li a:hover {
    color: #ffbe46; /* Cambiar color al pasar el mouse */
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
}   

div.divrandom {
    text-align: center;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 12px 24px;
    margin: 10px;
    background-color: #f1a457;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e69346;
}

.detalles-container {
    background-color: rgb(251, 169, 169);
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ImagenCoctel {
    height: 150px;
    border-radius: 10px;
    overflow: hidden; 
}

.detalles-container img {
    max-width: 100%; 
    border-radius: 10px;
}

.favorito-item {
    display: inline-block;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden; 
}
